<!DOCTYPE html>
<html>
<head>
    <title>To_Do_List_Twave</title>
</head>
<body>
     <nav style="background: #f0f0f0; padding: 10px; margin-bottom: 20px;">
        <a href="/" style="margin-right: 15px;">Inicio</a>
        <a href="/addTask" style="margin-right: 15px;">Agregar tarea</a>
    </nav>
    <h1>{{ .Título }}</h1>
    <p>Texto de ejemplo: {{ .Texto }}</p>

    <h2>Lista de tareas</h2>
    <ul>
    {{ range .Tasks }}
        <li>
            Tarea: {{ .Title }} - Finalizada: 
            {{ if .Done.Valid }}
                {{ if .Done.Bool }}Sí{{ else }}No{{ end }}
            {{ else }}
                (No especificado)
            {{ end }}
        </li>
    {{ else }}
        <li>No hay tareas.</li>
    {{ end }}
</ul>
</body>
</html>