<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Título}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{.Texto}}</h1>
        </header>
        <main>
            <ul>
                {{range .Tasks}}
                    <li>
                        <div class="task-info">
                            <input type="checkbox" {{if .Done.Bool}}checked{{end}} disabled>
                            <span class="{{if .Done.Bool}}completed{{end}}">{{.Title}}</span>
                        </div>
                    </li>
                {{else}}
                    <li>No hay tareas disponibles.</li>
                {{end}}
            </ul>
            <a href="/addTask" class="add-task-btn">Agregar nueva tarea</a>
        </main>
    </div>
</body>
</html>